# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter auto checkpoints
.ipynb_checkpoints/

# Ignore Kaggle credentials
.kaggle/
kaggle.json

# Ignore raw data (too large, keep only cleaned)
data/raw/
# Ignore data and database files
*.csv
*.zip
*.db

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
